
<ul class="sidebar__menu menu--icon menu">
  <li class="menu__item">
    <a href="" class="menu__link {{#ifpage 'cashier-data'}}active{{/ifpage}}">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-info"/>
      </svg>
      Личные данные
    </a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link {{#ifpage 'cashier-add-pacient'}}active{{/ifpage}}">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-add"/>
      </svg>
      Создать пациента
    </a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link {{#ifpage 'cashier-record-department'}}active{{/ifpage}}">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-schedule"/>
      </svg>
      Запись к врачу
    </a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link {{#ifpage 'cashier-users'}}active{{/ifpage}}">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-patients"/>
      </svg>
      Список пациентов
    </a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link {{#ifpage 'cashier-extract'}}active{{/ifpage}}">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-list"/>
      </svg>
      Выписки
    </a>
  </li>
</ul><!--/.menu-->
