
<ul class="sidebar__menu menu--icon menu">
  <li class="menu__item">
    <a href="" class="menu__link active">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-info"/>
      </svg>
      Учреждения
    </a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-user"/>
      </svg>
      Главврачи
    </a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-cashiers"/>
      </svg>
      Кассиры
    </a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-plus"/>
      </svg>
      Фармацевты
    </a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-doctors"/>
      </svg>
      Врачи
    </a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-user-outlined"/>
      </svg>
      Пациенты
    </a>
  </li>
  <li class="menu__item">
    <form action="">
      <input type="hidden" name="_token" value="" />
      <button class="menu__link">
        <svg class="menu__icon" width="30" height="30" aria-hidden="true">
          <use xlink:href="assets/img/sprite/sprite.svg#icon-exit" />
        </svg>
        Выйти
      </button>
    </form>
  </li>
</ul><!--/.menu-->
