
<ul class="sidebar__menu menu--icon menu">
  <li class="menu__item">
    <a href="" class="menu__link active">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-user"/>
      </svg>
      Личные данные
    </a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-info"/>
      </svg>
      Медицинские учреждения
    </a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-services"/>
      </svg>
      История назначений
    </a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-list-b"/>
      </svg>
      История болезней
    </a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-chat"/>
      </svg>
      Обратная связь
    </a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-list"/>
      </svg>
      Выписка
    </a>
  </li>
  <li class="menu__item">
    <form action="">
      <input type="hidden" name="_token" value="" />
      <button class="menu__link">
        <svg class="menu__icon" width="30" height="30" aria-hidden="true">
          <use xlink:href="assets/img/sprite/sprite.svg#icon-exit" />
        </svg>
        Выйти
      </button>
    </form>
  </li>
</ul><!--/.menu-->
