@use "../variables" as v;
@use "../library/sumbiot/general/mixins" as m;

.content {
  @include m.media("lg") {
    min-height: 300px;

    padding: 25px 0 25px 25px;

    border-left: 1px solid rgba(v.$primary, 0.25);
  }

  &--data {
    .sForm__item > .btn {
      width: 100%;
    }
  }

  &--hospitals-list {
    @include m.media(380) {
      padding: 0 10px;
    }

    @include m.media("sm") {
      padding: 0;
    }

    @include m.media("lg") {
      padding-top: 20px;
      padding-bottom: 45px;
    }
  }

  &--text {
    @include m.media("lg") {
      padding: 0;

      border-left: none;
    }
  }

  &--hospital-full {
  }

  &--extract {
  }

  &--record {
    .record-input {
      flex-direction: column;

      @include m.media("sm") {
        flex-direction: row;
      }

      &---personal {
        flex-direction: row;
      }
    }
  }

  &--users {
    .user-link {
      color: #2c3d73;
      transition: all 0.2s ease;

      &:hover {
        color: #1d77fa;
      }
    }
  }

  &--history {
    .sForm__inner {
      grid-template-columns: 1fr;
    }

    .sForm__linear {
      grid-template-columns: auto 1fr;
    }

    .sForm__item > .btn {
      width: 100%;
    }

    @include m.media("sm") {
      .sForm__linear {
        grid-template-columns: auto 1fr auto 1fr;
      }
    }

    @include m.media("md") {
      .sForm__inner {
        grid-template-columns: auto auto;
      }

      .sForm__linear {
        grid-template-columns: auto 120px auto 120px;
      }

      .sForm__item > .btn {
        width: fit-content;
      }
    }
  }

  &--edit-user {
    .btn {
      width: 100%;

      @include m.media("sm") {
        width: fit-content;
      }
    }
  }

  &--news,
  &--users {
    .sForm__inner {
      grid-template-columns: 1fr;
      gap: 12px;
    }

    .sForm__linear {
      grid-template-columns: auto 1fr;
    }

    .sForm__item > .btn {
      width: 100%;
    }

    @include m.media("sm") {
      .sForm__linear {
        grid-template-columns: auto 1fr auto 1fr;
      }
    }

    @include m.media("xl") {
      .sForm__inner {
        grid-template-columns: 1fr 1fr auto;
      }

      .sForm__linear {
        grid-template-columns: auto 1fr auto 1fr;
      }

      .sForm__item > .btn {
        width: fit-content;
      }
    }

    .table {
      overflow-x: auto;
      max-width: calc(100vw - 20px);

      &__row {
        width: max-content;
      }
    }
  }

  &--doctor-history {
    .sForm__inner {
      grid-template-columns: 1fr;
      gap: 12px;
    }

    .sForm__linear {
      grid-template-columns: auto 1fr;
    }

    .sForm__item > .btn {
      width: 100%;
    }

    @include m.media("sm") {
      .sForm__linear {
        grid-template-columns: auto 1fr auto 1fr;
      }
    }

    @include m.media("xl") {
      .sForm__inner {
        grid-template-columns: 1fr 1fr auto;
      }

      .sForm__linear {
        grid-template-columns: auto 1fr auto 1fr;
      }

      .sForm__item > .btn {
        width: fit-content;
      }
    }
  }

  &--add-news,
  &--edit-news,
  &--edit-page {
    .sForm__linear {
      grid-template-columns: 1fr;
      width: 100%;
    }

    @include m.media(320) {
      .sForm__linear {
        grid-template-columns: auto auto;

        &--v4 {
          // width: 100%;
          grid-template-columns: auto 1fr;
        }
      }

      .sForm__buttons {
        grid-template-columns: 1fr;
        grid-gap: 12px;
      }
    }

    @include m.media("sm") {
      .sForm__linear {
        grid-template-columns: auto 1fr auto 1fr;
      }

      .sForm__buttons {
        grid-template-columns: auto auto !important;
        width: 100% !important;
        grid-gap: 20px;
      }
    }

    @include m.media("md") {
      .sForm__linear {
        grid-template-columns: auto 103px auto 103px;
        width: fit-content;

        &--v4 {
          // width: 100%;
          grid-template-columns: auto 300px;
        }
      }
    }
  }

  &--edit-news {
  }

  &--page {
    .sForm__inner {
      grid-template-columns: 1fr;
      grid-gap: 12px;
    }

    .sForm__linear {
      grid-template-columns: auto 1fr;
    }

    .sForm__item > .btn {
      width: 100%;
    }

    @include m.media("sm") {
      .sForm__linear {
        grid-template-columns: auto 1fr auto 1fr;
      }
    }

    @include m.media("md") {
      .sForm__inner {
        grid-template-columns: 360px auto;
      }

      .sForm__linear {
        grid-template-columns: auto 120px auto 120px;
      }

      .sForm__item > .btn {
        width: fit-content;
      }
    }
  }

  &--edit-page {
  }

  &--doctors {
  }

  &--doctor-profile {
    .doctor-profile {
      &__top {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 40px;

        @include m.media("xl") {
          grid-template-columns: 2fr 3fr;
          grid-gap: 20px;
        }
      }
      &__image {
        float: left;
        border-radius: 10px;
        max-width: 326px;
        max-height: 492px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0 auto;
        aspect-ratio: 3/4;

        @include m.media("xl") {
          margin: 0;
        }
      }

      &__text {
        margin: 0;
        margin-bottom: 20px;
      }
    }
  }

  &--price-list {
  }

  &--prescriptions {
    .sForm__inner {
      grid-template-columns: 1fr;

      .sForm__item {
        .sForm__linear {
          grid-template-columns: auto 1fr;
          grid-gap: 24px;

          @include m.media("sm") {
            grid-template-columns: repeat(2, auto 1fr);
          }
        }
        .btn {
          width: 100%;
        }
      }

      @include m.media("md") {
        grid-template-columns: 4fr 5fr auto;

        .sForm__item {
          .sForm__linear {
            grid-gap: 12px;
          }
        }
      }

      @include m.media("lg") {
        grid-template-columns: 4fr 6fr auto;
      }

      @include m.media("xl") {
        grid-template-columns: 3fr 2fr auto;
      }
    }
  }

  &--medical-history {
    .sForm__inner {
      grid-template-columns: 1fr;
      gap: 12px;
    }

    .sForm__linear {
      grid-template-columns: auto 1fr;
    }

    .sForm__item > .btn {
      width: 100%;
    }

    @include m.media("sm") {
      .sForm__linear {
        grid-template-columns: auto 1fr auto 1fr;
      }
    }

    @include m.media("xl") {
      .sForm__inner {
        grid-template-columns: 1fr 1fr auto;
      }

      .sForm__linear {
        grid-template-columns: auto 1fr auto 1fr;
      }

      .sForm__item > .btn {
        width: fit-content;
      }
    }

    .table {
      overflow-x: auto;
      max-width: calc(100vw - 20px);

      &__row {
        width: 100%;
      }
    }

    .add-illness {
      padding: 5px 15px;
      margin-bottom: 20px;
      display: block;

      @include m.media("md") {
        margin-left: auto;
        width: fit-content;
      }
    }
  }

  &--illness {
    .illness {
      &__title {
        margin-bottom: 24px;

        @include m.media("md") {
          margin-bottom: 36px;
        }

        @include m.media("lg") {
          margin-bottom: 48px;
        }
      }

      &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding-left: 0;
      }

      &__link {
        color: rgb(44, 61, 115);
        transition: all 0.2s ease;

        &:hover {
          color: #1d77fa;
        }
      }
    }
  }

  &--feedback {
    .sForm__input {
      padding: 5px 30px;
    }
    .btn--cancel {
      padding: 5px 20px;
    }
  }

  &--search {
    .sForm__inner:not(:last-child) {
      margin-bottom: 20px;
    }
    .sForm__item > .btn {
      width: 100%;
    }
  }

  &--patient {
  }

  &--add-prescription {
    .sForm__inner {
      grid-template-columns: 1fr;
    }

    .sForm__inner:not(:last-child) {
      margin-bottom: 20px;
    }

    .btn {
      display: block;
      width: 100%;

      @include m.media("sm") {
        width: fit-content;
        padding: 5px 15px;
      }
    }
  }

  &--doctors {
    .table {
      overflow-x: auto;
      max-width: calc(100vw - 20px);

      &__row {
        width: 100%;
      }
    }
  }

  &--schedule {
    .schedule-checkbox {
      width: fit-content;
      font-size: 14px;

      display: grid;
      grid-template-columns: 1em auto;
      gap: 20px;

      color: #2c3d73;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    input[type="checkbox"] {
      /* Add if not using autoprefixer */
      -webkit-appearance: none;
      /* Remove most all native input styles */
      appearance: none;
      /* For iOS < 15 */
      background-color: #fff;
      /* Not removed via appearance */
      margin: 0;

      font: inherit;
      color: currentColor;
      width: 1.15em;
      height: 1.15em;
      border: 0.15em solid currentColor;
      border-radius: 0.15em;
      transform: translateY(-0.075em);

      display: grid;
      place-content: center;
    }

    input[type="checkbox"]::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform: scale(0);
      transform-origin: bottom left;
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em #2c3d73;
      /* Windows High Contrast Mode */
      background-color: CanvasText;
    }

    input[type="checkbox"]:checked::before {
      transform: scale(1);
    }

    input[type="checkbox"]:focus {
      outline: max(2px, 0.15em) solid currentColor;
      outline-offset: max(2px, 0.15em);
    }

    input[type="checkbox"]:disabled {
      --form-control-color: var(--form-control-disabled);

      color: var(--form-control-disabled);
      cursor: not-allowed;
    }

    .record-input {
      flex-direction: row;
      align-items: flex-end;
      margin-bottom: 20px;
      flex-wrap: wrap;

      .sForm__label {
        color: #2c3d73;
        font-size: 16px;
        margin-bottom: 0;

        &:first-child {
          width: 100%;

          @include m.media(480) {
            width: fit-content;
          }
        }
      }

      @include m.media("sm") {
        flex-direction: row;
      }
    }

    .sForm__buttons {
      margin-top: 40px;
      grid-template-columns: 1fr;
      gap: 12px;

      @include m.media(480) {
        grid-template-columns: auto auto;
        gap: 20px;

        .btn {
          width: fit-content;
        }
      }
    }

    .btn {
      padding: 5px 15px;
    }
  }

  &--others {
    .sForm__inner {
      grid-template-columns: 1fr;

      .btn {
        width: 100%;
      }

      @include m.media("sm") {
        grid-template-columns: 1fr auto;
      }
    }
  }

  &--edit-personal,
  &--edit-department {
    .content__box {
      margin-bottom: 20px;
    }
    .btn {
      width: 100%;

      @include m.media("sm") {
        width: fit-content;
      }
    }
  }

  &--departments,
  &--super-hospitals-list {
    .content__title {
      display: flex;
      gap: 20px;
      flex-direction: column;
      align-items: center;

      .btn {
        width: 100%;
      }

      @include m.media(360) {
        flex-direction: row;
        justify-content: space-between;
        .btn {
          width: fit-content;
        }
      }
    }

    .sForm__inner {
      grid-template-columns: 1fr;

      .btn {
        width: 100%;
      }

      @include m.media("sm") {
        grid-template-columns: 1fr auto;
      }
    }
  }
}

.content__box {
  margin: 0 0 40px 0;

  .btn---more {
    margin-top: 40px;
  }
}

.content__title {
  margin-bottom: 20px;

  @include m.media("lg") {
    margin-bottom: 30px;
  }
}

.content__text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  ul,
  ol {
    padding-left: 30px;
  }

  li {
    margin-bottom: 3px;
  }

  a {
    color: v.$primary2;

    &:hover {
      text-decoration: none;
    }
  }
}

.content__map {
  position: relative;

  width: 100%;
  height: 400px;

  border: none;
}

.content__form-search {
  margin: 0 0 50px 0;
}

.content__form-page {
}

.content__wrapper-btn {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 40px;
}

.content__breadcrumbs {
  margin: 0 0 40px 0;
}
